body {
    background: url(../Images/background2.jpeg);
    /* background-repeat: no-repeat; */
    height:auto;    
    /* background-size: 100%;   */
    background-color: gainsboro;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
h1 {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 3.5em;
}
h2 {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 1.7em;
}
ul li {
    display:inline;
    margin: 1em;
    max-width: 100%;
}
input {
    font-size: 100%;
    font-size: 3em;
    display: flex;
    justify-content: center;
    width: 100%;
}
img {
    max-width: 100%;
  }
  