@media screen and (max-width: 450px) {
    .name {
      visibility: hidden;
    }
    .name:before {
      content: "DC";
      visibility: visible;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }