#socialMediaIcons { 
    display: flex;
    flex-direction: row-reverse;
}
#previousProjects {
    display: flex;
    flex-direction: column;
}
#skills-section {
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#about {
    width: auto;
}

.navContent {
    display: none;
}
footer {
    /* position: absolute;
    /* bottom: 0; */
    /* display: flex;
    justify-content: space-between;
    height: auto; */ 
    position: absolute;
   bottom: 0;
   width: 100%;
}