.icon-github:hover {
    background-color: yellow;
  }
  .icon-facebook2:hover{
    background-color: yellow;
  }
  .icon-github:before {
    content: "\eab0";
    font-size: 33px;
    padding-right: 30px;  
      position: relative;
      left: initial;
      top: initial;
  }
  .icon-facebook2:before {
    content: "\ea91";
    font-size: 33px;
    padding-right: 30px;
      position: relative;
      left: initial;
      top: initial;
  }