@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?flsrtu');
  src:  url('fonts/icomoon.eot?flsrtu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?flsrtu') format('truetype'),
    url('fonts/icomoon.woff?flsrtu') format('woff'),
    url('fonts/icomoon.svg?flsrtu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
.icon-facebook2:before {
  font-size: 3em;
}
.icon-github:before {
  font-size: 3em;
}
.icon-github:hover {
  background-color: yellow;
}
.icon-facebook2:hover{
  background-color: yellow;
}
.icon-facebook2 {
  padding-right: 1em;
}

